<div *ngIf="domainResponse" class="domain-cards">
  <md-card *ngFor="let domain of domainResponse.response.domains.domain" class="pointer hover" tabindex="0" role="navigation" (click)="dummy()">
    <div id="{{domain.userspace}}" class="logo"></div>
    <md-card-title>{{domain.name}}</md-card-title>
    <md-card-content>
      <div>Created: {{domain.creationdate | date:"MMM d, yyyy"}}</div>
      <div *ngIf="!domain.cq" class="error nowrap">Custom Question XML missing</div>
    </md-card-content>
  </md-card>
</div>