<md-progress-bar
  *ngIf="!domainResponse"
  class="app-progress"
  mode="indeterminate"
  aria-label="Indeterminate progress-bar example"></md-progress-bar>
<div *ngIf="domainResponse" class="filters">
  <md-select placeholder="Sort by..." [(ngModel)]="sortBy" (change)="sortDomains()" name="sortOption">
    <md-option *ngFor="let sortOption of sortOptions" [value]="sortOption.property">
      {{sortOption.name}}
    </md-option>
  </md-select>
  <md-slide-toggle [checked]="!sortAscending" (change)="sortAscending = !sortAscending;sortDomains()">Sort A-Z, old to recent</md-slide-toggle>
  <md-input-container>
    <input mdInput [(ngModel)]="filterBy" (keyup)="filterDomains()" placeholder="Search names..." />
  </md-input-container>
</div>
<div *ngIf="domainResponse" class="domain-cards">
  <md-card *ngFor="let domain of visibleDomains" class="pointer hover" tabindex="0" role="navigation" (click)="dummy()">
    <div id="{{domain.userspace}}" class="logo"></div>
    <md-card-title>
      {{domain.name}}
      <div *ngIf="sortBy === 'userspace'" class="subtitle">{{domain.userspace}}</div>
    </md-card-title>
    <md-card-content>
      <div>Created: {{domain.creationdate | date:"MMM d, yyyy"}}</div>
      <div *ngIf="sortBy === 'modifieddate'">Modified: {{domain.modifieddate | date:"MMM d, yyyy"}}</div>
      <div *ngIf="!domain.cq" class="error nowrap">Custom Question XML missing</div>
    </md-card-content>
  </md-card>
</div>