@import '~@angular/material/theming';
// Plus imports for other components in your app.

//@import '~material-colors/dist/colors';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

@function material-color-palette($base-color) {
  $keys: (0,50,100,200,300,400,500,600,700,800,900,A100,A200,A300,A400,A500,A600,A700);
  $return: ();
  @each $key in $keys {
    $return: map-merge($return, ($key:material-color-modify($base-color,$key)));
  }
  $return: map-merge($return, (contrast:$contrast));
  @return $return;
}
@function material-color-modify($base-color,$modifier, $slope: 0.15,$b:-75) {
  $m: if(type-of($modifier) == "number",  $slope * $modifier + $b, $slope * 10 + $b);
  $mx: ($slope * 0 + $b);
  $mm: ($slope * 1200 + $b);
  @return if($m >= 0,darken($base-color,$m/$mm*100),lighten($base-color,$m/$mx*100));
}

$mat-byu-blue-base: (
    0:  rgb(255, 255, 255),
    50: rgb(224, 230, 236),
    100: rgb(179, 192, 206),
    200: rgb(128, 151, 174),
    300: rgb(77, 109, 142),
    400: rgb(38, 77, 117),
    500: rgb(0, 46, 93),
    600: rgb(0, 41, 85),
    700: rgb(0, 35, 75),
    800: rgb(0, 29, 65),
    900: rgb(0, 18, 48),
    A100: rgb(105, 141, 255),
    A200: rgb(54, 102, 255),
    A300: rgb(3, 64, 255),
    A400: rgb(0, 56, 232),
    A500: rgb(0, 48, 232),
    A600: rgb(0, 40, 232),
    A700: rgb(0, 32, 232)
);
$mat-byu-grey-base: (
    0:  rgb(255, 255, 255),
    50: rgb(239, 239, 239),
    100: rgb(214, 214, 214),
    200: rgb(187, 187, 187),
    300: rgb(159, 159, 159),
    400: rgb(139, 139, 139),
    500: rgb(118, 118, 118),
    600: rgb(110, 110, 110),
    700: rgb(99, 99, 99),
    800: rgb(89, 89, 89),
    900: rgb(70, 70, 70),
    A100: rgb(208, 224, 227),
    A200: rgb(162, 196, 201),
    A300: rgb(118, 165, 175),
    A400: rgb(69, 129, 142),
    A500: rgb(99, 99, 99),
    A600: rgb(89, 89, 89),
    A700: rgb(70, 70, 70)
);
$mat-byu-green-base: (
  0:  rgb(255, 255, 255),
  50: rgb(237, 246, 224),
  100: rgb(209, 232, 179),
  200: rgb(179, 217, 128),
  300: rgb(148, 201, 77),
  400: rgb(125, 190, 38),
  500: rgb(102, 178, 0),
  600: rgb(94, 171, 0),
  700: rgb(83, 162, 0),
  800: rgb(73, 153, 0),
  900: rgb(56, 138, 0),
  A100: rgb(205, 255, 182),
  A200: rgb(171, 255, 131),
  A300: rgba(136, 255, 80, .75),
  A400: rgba(136, 255, 80, .5),
  A500: rgba(119, 255, 54, .75),
  A600: rgba(119, 255, 54, .66),
  A700: rgba(119, 255, 54, .5)
);
$mat-byu-error-base: (
  0:  rgb(255, 255, 255),
  50: rgb(249, 224, 224),
  100: rgb(240, 179, 179),
  200: rgb(230, 128, 128),
  300: rgb(219, 77, 77),
  400: rgb(212, 38, 38),
  500: rgb(204, 0, 0),
  600: rgb(199, 0, 0),
  700: rgb(192, 0, 0),
  800: rgb(185, 0, 0),
  900: rgb(173, 0, 0),
  A100: rgb(255, 215, 215),
  A200: rgb(255, 164, 164),
  A300: rgb(255, 113, 113),
  A400: rgba(255, 88, 88, .5),
  A500: rgba(255, 88, 88, .66),
  A600: rgba(255, 88, 88, .75),
  A700: rgba(255, 88, 88, .88)
);

$contrast: (
  0: rgba(0, 0, 0, 0.87),
  50: rgba(0, 0, 0, 0.87),
  100: rgba(0, 0, 0, 0.87),
  200: rgba(0, 0, 0, 0.87),
  300: rgba(0, 0, 0, 0.87),
  400: rgba(0, 0, 0, 0.87),
  500: rgba(0, 0, 0, 0.87),
  600: rgba(255, 255, 255, 0.87),
  700: rgba(255, 255, 255, 0.87),
  800: rgba(255, 255, 255, 0.87),
  900: rgba(255, 255, 255, 0.87),
  1000: rgba(255, 255, 255, 0.87),
  A100: rgba(0, 0, 0, 0.87),
  A200: rgba(0, 0, 0, 0.87),
  A400: rgba(0, 0, 0, 0.87),
  A700: rgba(255, 255, 255, 0.87)
);



$mat-byu-blue: map-merge(
  $mat-byu-blue-base,
  (contrast: $contrast)
);
$mat-byu-grey: map-merge(
  $mat-byu-grey-base,
  (contrast: $contrast)
);
$mat-byu-green: map-merge(
  $mat-byu-green-base,
  (contrast: $contrast)
);
$mat-byu-error: map-merge(
  $mat-byu-error-base,
  (contrast: $contrast)
);

$byu-app-primary: mat-palette($mat-byu-blue, 500);
$byu-app-accent:  mat-palette($mat-byu-green, 400, 200, 700);

$byu-app-primary-dark: mat-palette($mat-byu-blue, 600);
$byu-app-accent-dark:  mat-palette($mat-grey, 300, 500, 900);

// The warn palette is optional (defaults to red).
$byu-app-warn:    mat-palette($mat-byu-error, A400);

// Create the theme object (a Sass map containing all of the palettes).
$byu-app-theme: mat-light-theme($byu-app-primary, $byu-app-accent, $byu-app-warn);

$byu-app-theme-dark: mat-light-theme($byu-app-primary-dark, $byu-app-accent-dark, $byu-app-warn);


// Background palette for light themes.
$mat-light-theme-background: (
  status-bar: map_get($mat-byu-grey, 300),
  app-bar:    map_get($mat-byu-grey, 100),
  background: map_get($mat-byu-grey, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: map_get($mat-byu-grey, 100),
  raised-button: white,
  focused-button: map_get($mat-byu-grey, 500),
  selected-button: map_get($mat-byu-grey, 300),
  selected-disabled-button: map_get($mat-byu-grey, 400),
  disabled-button-toggle: map_get($mat-byu-grey, 200),
);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-byu-grey, 900),
  background: #303030,
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       map_get($mat-byu-grey, 800),
  dialog:     map_get($mat-byu-grey, 800),
  disabled-button: map_get($mat-byu-grey, 300),
  raised-button: map-get($mat-byu-grey, 800),
  focused-button: map_get($mat-byu-grey, 900),
  selected-button: map_get($mat-byu-grey, 900),
  selected-disabled-button: map_get($mat-byu-grey, 800),
  disabled-button-toggle: map_get($mat-byu-grey, 1000),
);

$primary-color: map-get($byu-app-primary, 500);
$secondary-color: map-get($byu-app-accent, 500);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($byu-app-theme);

*[color=primary], *[color=primary] * {
  color:white;
}
.m2app-dark {
  $primary-color: map-get($byu-app-primary, 0);
  $secondary-color: map-get($byu-app-accent, 100);

  @include angular-material-theme($byu-app-theme-dark);
  *[color=primary],*[color=primary] * {
    color:white;
  }
}

.nowrap {
  white-space: nowrap;
}

.error {
  color: map-get($mat-byu-error-base, 500);
}

.pointer {
  cursor: pointer;
}

.fine-print {
  color: rgba(0, 0, 0, 0.38);
}